body{
    background-color: aliceblue;
    color:#3e3d3e;
    line-height: 1.6;
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(60, 51, 50);
    color: whitesmoke;
    padding:1rem 0;
    text-align: center;
    position:static;
    top:0;
    width:100%;
}
nav ul{
    list-style: none;
    text-align: center;
}
nav ul li{
    display:inline-block;
    margin:0 15px;
}
nav ul li a{
    color:white;
    text-decoration: none;
}
main{
    padding: 20px;
}
article{
    background:#fff;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
article img{
    max-width: 100%;
    height:auto;
    border-radius: 5px;
}
.read-more-content{
    display:none;
}
.read-more-button{
    color:#333;
    cursor: pointer;
    text-decoration:underline;
}
footer{
    color:#252121;
    text-align: center;
    padding:1rem 0;
}
.comments{
    margin-top:50px;
}
.comment-form input,
.comment-form textarea{
    width: 100%;
    padding: 1rem 0 ;
    margin-bottom:10px;
    border:1px solid #b7afaf;
    border-radius: 5px;
}
.comment-form button{
    background-color: #4f4949;
    color:#fff
}